body{
    margin: 0;
}

.first-part{
    display: flex;
}

h1{
    font-size: 50px;
}

.first-part-image img{
    width: 90%;

}

.first-part-text{
    width: 50%;
    margin-top: 150px;
    margin-left: 70px;
}

.first-part-image{
    width: 50%;
}

.orange-color-text{
    color: orange;
}
.order-now-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: white;
    padding: 15px 30px;
    border-radius: 20px;
   
}
.button{
    margin-top: 50px;
}

.two-part-about-me{
    background-image: url(image/two-part-bg.png);
    display: flex;
}

.two-part-image{
    width: 50%;

    
    
}

.two-part-text{
    width: 50%;
    text-align: left;
    margin-top: 60px;
    
}

.two-part-image img{
width: 40%;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 30px;      
}

.three-part-my-recipies{
    text-align: center;
    margin-bottom: 50px;
}

.four-part-recipies-item{
    display: flex;
    height: 100%;
    
}
.recipies-item{
    box-shadow: 10px 10px 20px gray;
    width: 20%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5px;
    border-radius: 30px;
}
.recipies-item img{
    width: 80%;
    align-items: center;
    padding: 20px 30px 15px 30px;
    
}

.four-part-item-text{
    text-align: left;
    padding-left: 30px;
}

.five{
    display: flex;
    box-shadow: 10px 10px 20px gray;
    border-radius: 30px;
    width: 80%;
   
    margin-top: 60px;
    margin-left: 40px;
    padding: 25px;

    margin-bottom: 40px;

}

.social-media-count{
    padding: 30px 60px;
    text-align: right;
    margin-left: 80px;
}

.yotube{
    font-size: 15px;
}

.last-part-footer{
    text-align: center;
    background-color: black;
    color: gray;
    padding: 40px;
}


